// ProductsAll.module.scss

.contentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

@media (max-width: 768px) {
    .content {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .content {
        gap: 16px;
    }
}
