/* SearchResultsPage.module.scss */

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 160px);
  justify-content: space-between;
}

.productsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.productsGrid p {
  flex: 1 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.searchResult{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}